{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Active User Sessions</title>
</head>
<body class="dark">
  <h2><a href="/">WIRED NETWORKING</a></h2>
    
  <h1>Active User Sessions</h1>
  <table>
    <tr>
      <th>Session ID</th>
      <th>Username</th>
      <th>Account no</th>
      <th>Start Date</th>
      <th>Start Time</th>
      <th>End Date</th>
      <th>End Time</th>
      <th>Edit</th>
    </tr>
    {% for active in active_session%}
    <tr>
      <form>
      <td>{{active.sid}}</td>
      <td>{{active.acc}}</td>
      <td>{{active.acc}}</td>
      <td>{{active.startDate}}</td>
      <td>{{active.startTime}}</td>
      <td>{{active.endDate}}</td>
      <td>{{active.endTime}}</td>
      <td></td> 
      <td><a href="edit_sessions.html">Edit</a></td>
      </form>
    </tr>
    {%endfor%}
  </table>
</body>
</html>
