{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Create New User</title>
</head>
<body class="dark">
  <h2><a href="/">WIRED NETWORKING</a></h2>
  <h1>Create New User</h1>
  <form  class="wrap animated">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="John Doe">

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="Phone" placeholder="0712345678">

    <label for="newUsername">Username:</label>
    <input type="text" id="newUsername" name="newUsername" placeholder="Johndoe001">
    
    <label for="newPassword">Password:</label>
    <input type="password" id="newPassword" name="newPassword" placeholder="jdpass">

    <label for="package">Package:</label>
    <input type="text" id="package" name="package" placeholder="5MBPS"><br><br>

    <label for="package_type">Package_Type:</label>
    <input type="text" id="package_type" name="package_type" placeholder="pppoe/hotspot"><br><br>
    
    <input type="submit" value="Submit">
  </form>
  
</body>
</html>
