{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Edit Session</title>
</head>
<body class="dark"></body>
<body>
  <h2><a href="/">WIRED NETWORKING</a></h2>
  <h1>Edit Session</h1>
  <div class="wrap animated">
    <form name="login" method="post">
    <label for="session_id">Session ID:</label>
    <input type="text" id="session_id" name="session_id" value="Session123" readonly>
    
    <label for="start_date">Start Date:</label>
    <input type="text" id="start_date" name="start_date" value="16-Feb-2024" >

    <label for="start_time">Start Time:</label>
    <input type="text" id="start_time" name="start_time" value="09:00 AM" >
    
    <label for="end_date">End Date:</label>
    <input type="text" id="end_date" name="end_date" value="17-Feb-2024">

    <label for="end_time">End Time:</label>
    <input type="text" id="end_time" name="end_time" value="9:00 PM">
    
    <input type="submit" value="SUBMIT">
  </form></div>
</body>
</html>
