{% extends 'base_temp.html' %}
{% load static%}
{% load humanize %}
{% block content %}

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Add {{pkgtype}} User</h5>
    
                  <!-- Floating Labels Form -->
                  <form class="row g-3" action="{%url 'aaccountAdd'%}" method="post">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingName" name = 'name' placeholder="Name" required>
                        <label for="floatingName">Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingName"  name = 'username' placeholder="Username" required>
                        <label for="floatingName">Username</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword" name='password' placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Address" name = 'address'id="floatingTextarea" name='address' style="height: 100px;"></textarea>
                        <label for="floatingTextarea">Address</label> 
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="number" class="form-control" id="floatingPhone" name = 'contact' placeholder="Contact" required>
                          <label for="floatingPhone">Contact</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="State"name='packageSelected'>
                          <option selected="">{{package}}</option>
                          {%for popt in pkg_options%}
                          <option>{{popt.name}}</option>
                          {%endfor%}
                        </select>
                        <label for="floatingSelect">Package</label>
                      </div>
                    
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="floatingIp" name = 'packageType' value="{{pkgtype}}" readonly>
                          <label for="floatingIp">Package Type</label>
                        </div>
                      </div>
                    </div>
                    {% if pkgtype == 'pppoe'%}
                    <div class="col-md-6">
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="floatingIp" name = 'ip' placeholder="Ip [{{ipPlaceholder}}]">
                          <label for="floatingIp">Ip [{{ipPlaceholder}}]</label>
                        </div>
                      </div>
                    </div>
                    {%endif%}

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                  </form><!-- End floating Labels Form -->
    
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  {% endblock %}