{% extends 'base_temp.html' %}
{% load static%}
{% load humanize %}
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Payments Table</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item">Payments</li>
          <li class="breadcrumb-item active">History</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <section class="section">
      <div class="row">
        <div class="col-lg-12">
            

               <!-- Payment Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Payments</h5>
                  <p>Payments History</p>

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Code</th>
                        <th scope="col">Source</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for p_hist in sales%}
                      <tr>
                        
                        <th scope="row"><a href="#">#{{p_hist.pid}}</a></th>
                        <td>{{p_hist.acc}}</td>
                        <td><a href="#" class="text-primary">{{p_hist.code}}</a></td>
                        <td>Ksh {{p_hist.source}}</td>
                        <td>Ksh {{p_hist.amount}}</td>
                        <td>{{p_hist.date}}</td>
                        <td>{{p_hist.time}}</td>
                        <td><span class="badge bg-success">Recieved</span></td>
                        
                      </tr>
                      {%endfor%}
                      
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}